@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="card" style="width:99%; margin-top:5px; margin-left:5px;">
    <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">
            I am full-stack developer with over ten years of exerience from Ahmedabad,India.
        </p>
        <p>
            I have worked in many It consulting firm and developed enterprice applications from scratch to deployment.I have end to end experience of developing applcation using agile methodology..
        </p>
        <p>
            Current technology stack that I am working on is Asp.net core, react, MongoDb. I have also worked with Asp.net, MVC, SQL Server.
        </p>
        <p>
            Feel free to ask me any question, I can help you in project with front end ,back end development, deployment and design.
        </p>
    </div>
</div>
