@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="card" style="width:99%; margin-top:5px; margin-left:5px;">
    <div class="card-body">
        <h5 class="card-title">Contact Me here</h5>
        <address>
            <strong>Email:</strong> <a href="mailto:kunal.ahmedabad@gmail.com">kunal.ahmedabad@gmail.com</a><br />
            <strong>Skype:</strong> <a href="javascript:void(0)">kunal.ahmedabad</a><br />
            <strong>Facebook:</strong><a href="https://www.facebook.com/krunal.parmar">Krunal Parmar</a><br />
            <strong>Twitter:</strong><a href="https://www.facebook.com/krunal.parmar">kunal.ahmedabad</a><br />
            <strong>Mobile</strong><a href="javascript:void(0)">+919833265024</a><br />
        </address>
    </div>
</div>


