@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row mt-1">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="d-flex justify-content-center card-img-bg dotnet"></div>
            <div class="card-body">
                <h5 class="card-title">Application Development</h5>
                <p class="card-text">
                    Develop application using Microsoft.net techology.
                    Web application development using Asp.net , MVC, C#
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="d-flex justify-content-center card-img-bg mobile" ></div>
            <div class="card-body">
                <h5 class="card-title">Mobile Application Development</h5>
                <p class="card-text">
                    Andoroid and iOs applicaiton development using Xmarin and React Native
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="d-flex justify-content-center card-img-bg frontend"></div>
            <div class="card-body">
                <h5 class="card-title">Front-end Development</h5>
                <p class="card-text">
                    Front-end development using Angular and React framework.
                </p>
            </div>
        </div>
    </div>
</div>  
